ul{
    list-style-type:none
}
#button{
    float: right;
    padding: 5px
}
.pdffiles{
    margin-right: 10px;
    color: green;
}
.download{
   margin-right: 800px;
}
.pdffiles:hover{
    color:green
}
.downloadicon:hover{
    color:green
}
.delete{
    width:40px;
    height:40px;
    color: red;
    padding: 4px;
}
.container-fluid{
    margin-top: 50px;
}

/* .texts{
    line-height: 1.2; /* Adjust the line height as needed */
    /* max-height: 3em; /* Adjust the number of lines as needed */
    /* overflow: hidden;
    text-overflow: ellipsis;
    
} */ 